In [308]:
#importing libraries
import pandas as pd
import numpy as np

In [309]:
#reading the data file
test = pd.read_csv("Test.csv")
train = pd.read_csv("Train.csv")

In [310]:
#to show the first five rows
test.head()

,Applicant_ID,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,...,form_field41,form_field42,form_field43,form_field44,form_field45,form_field46,form_field47,form_field48,form_field49,form_field50
0,Apcnt_1000032,3236.0,0.34875,10.2006,0.0000,0.0,418564.0,418564.0,418564.0,540710.0,...,NaN,0.825000,1.01,0.800000,NaN,0.0,charge,NaN,0.000000,0.011221
1,Apcnt_1000048,3284.0,1.27360,2.9606,9.0198,0.0,0.0,9858816.0,49014.0,1510098.0,...,18.8415,0.507694,4.04,0.623248,1.0,0.0,lending,NaN,0.504974,0.043525
2,Apcnt_1000052,NaN,0.27505,0.0600,0.0000,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,0.00,NaN,NaN,NaN,charge,NaN,0.000000,NaN
3,Apcnt_1000076,3232.0,0.28505,2.8032,0.0000,0.0,0.0,473802.0,473802.0,1724437.0,...,NaN,0.916663,2.02,0.464224,NaN,NaN,charge,90.163742,0.788809,0.104029
4,Apcnt_1000080,3466.0,2.09545,0.8318,2.5182,0.0,19839.0,1150662.0,1150662.0,7860523.0,...,NaN,0.234047,23.23,0.726688,0.0,0.0,lending,1303.587148,1.637733,0.163124

In [311]:
#to show the last five rows
test.tail()

,Applicant_ID,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,...,form_field41,form_field42,form_field43,form_field44,form_field45,form_field46,form_field47,form_field48,form_field49,form_field50
23995,Apcnt_999940,3258.0,0.37925,0.5698,5.1282,0.0000,NaN,2280318.0,NaN,NaN,...,92.6910,1.100000,0.00,0.800000,NaN,1.0,charge,NaN,0.000000,NaN
23996,Apcnt_999956,3514.0,0.95260,0.0000,0.0000,0.0000,1494538.0,4773419.0,4773419.0,89718571.0,...,125.0220,0.000000,12.12,0.196400,0.0,0.0,charge,4200.072959,3.000000,0.930931
23997,Apcnt_999976,3302.0,0.05755,4.2394,0.0000,25.4376,NaN,49403.0,NaN,NaN,...,NaN,1.100000,1.01,0.800000,NaN,0.0,charge,NaN,4.855060,NaN
23998,Apcnt_999984,3334.0,0.75670,1.4428,0.0000,0.0000,0.0,2513329.0,37733.0,393668.0,...,31.1955,0.440000,2.02,0.519776,NaN,0.0,charge,27.325129,0.818733,0.023749
23999,Apcnt_999992,3324.0,0.44840,2.3170,6.7176,0.0000,NaN,5305182.0,NaN,18885950.0,...,112.3035,0.314281,3.03,0.544352,0.0,1.0,charge,NaN,0.000000,0.391927

In [312]:
#to show the summary of the data
test.describe()

,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,form_field10,...,form_field40,form_field41,form_field42,form_field43,form_field44,form_field45,form_field46,form_field48,form_field49,form_field50
count,22890.000000,22291.000000,23854.000000,23854.000000,23854.000000,1.839600e+04,2.176900e+04,1.839600e+04,2.060000e+04,2.385300e+04,...,5172.000000,7651.000000,23422.000000,23750.000000,21638.000000,10462.000000,17115.000000,1.507800e+04,23854.000000,1.920300e+04
mean,3492.284404,0.557676,1.065443,0.859146,2.183538,6.263036e+05,6.797033e+06,2.654142e+06,1.350593e+07,1.187478e+07,...,147.623280,108.209648,0.369684,6.580480,0.566219,0.066526,0.097926,3.015440e+05,1.064118,6.749843e+05
std,190.502764,0.826543,2.198444,3.403115,11.415706,1.457540e+06,1.626022e+07,3.968185e+06,2.289125e+07,2.477113e+07,...,43.580328,36.426276,0.414077,6.363075,0.196060,0.278211,0.370392,1.868574e+06,1.816837,6.561031e+06
min,2986.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.075000,0.000000,0.000000,0.000000,0.066432,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00
25%,3356.000000,0.068675,0.000000,0.000000,0.000000,1.400400e+04,6.725810e+05,1.816630e+05,1.349441e+06,4.208980e+05,...,135.531750,87.499500,0.000000,2.020000,0.413268,0.000000,0.000000,7.272364e+01,0.000000,4.500510e-02
50%,3484.000000,0.273250,0.058200,0.000000,0.000000,1.155330e+05,2.719888e+06,9.594685e+05,5.529830e+06,3.651543e+06,...,150.000000,117.984000,0.220000,5.050000,0.592100,0.000000,0.000000,3.131754e+02,0.000000,1.680000e-01
75%,3624.000000,0.728850,1.304250,0.000000,0.000000,5.159112e+05,7.073576e+06,3.799849e+06,1.728658e+07,1.318126e+07,...,167.078250,137.207250,0.628573,10.100000,0.756544,0.000000,0.000000,1.195997e+03,1.254155,5.007093e-01
max,3900.000000,22.315050,34.541400,206.452800,297.885600,4.818738e+07,7.709887e+08,1.135141e+08,1.443921e+09,7.741014e+08,...,401.413500,211.693500,2.200000,91.910000,0.800000,5.000000,19.000000,1.213991e+08,24.000000,2.524591e+08

In [313]:
#to print out the shape(i.e number of rows and columns)
print("Test data shape:", test.shape)
print("Train data shape:", train.shape)

Test data shape: (24000, 51)
Train data shape: (56000, 52)

In [314]:
train.head()

,Applicant_ID,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,...,form_field42,form_field43,form_field44,form_field45,form_field46,form_field47,form_field48,form_field49,form_field50,default_status
0,Apcnt_1000000,3436.0,0.28505,1.6560,0.0,0.000,0.0,10689720.0,252072.0,4272776.0,...,0.392854,2.02,0.711632,0.0,0.0,charge,NaN,1.129518,0.044335,no
1,Apcnt_1000004,3456.0,0.67400,0.2342,0.0,0.000,0.0,898979.0,497531.0,9073814.0,...,0.314281,8.08,0.183584,NaN,0.0,charge,349.805730,1.620483,0.322436,no
2,Apcnt_1000008,3276.0,0.53845,3.1510,0.0,6.282,NaN,956940.0,NaN,192944.0,...,0.162965,18.18,0.791136,0.0,0.0,charge,NaN,1.513370,0.011640,yes
3,Apcnt_1000012,3372.0,0.17005,0.5050,0.0,0.000,192166.0,3044703.0,385499.0,3986472.0,...,0.488884,2.02,0.685168,NaN,0.0,charge,89.940100,0.664452,0.082729,no
4,Apcnt_1000016,3370.0,0.77270,1.1010,0.0,0.000,1556.0,214728.0,214728.0,1284089.0,...,0.275000,12.12,0.438168,0.0,0.0,charge,97.887502,1.427891,0.045630,no

In [315]:
train.tail()

,Applicant_ID,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,...,form_field42,form_field43,form_field44,form_field45,form_field46,form_field47,form_field48,form_field49,form_field50,default_status
55995,Apcnt_999968,3740.0,0.01730,0.0000,0.0000,0.0,770998.0,9637475.0,4047934.0,11641992.0,...,0.000000,9.09,0.730040,NaN,0.0,lending,591.048913,0.0,0.241598,no
55996,Apcnt_999972,3360.0,2.01145,0.6252,0.0000,0.0,NaN,927765.0,NaN,NaN,...,0.297913,30.30,0.498208,NaN,0.0,lending,NaN,0.0,NaN,yes
55997,Apcnt_999980,3500.0,0.76640,0.0000,0.0000,0.0,118645.0,3662435.0,3662435.0,3585024.0,...,0.550000,3.03,0.450512,0.0,0.0,lending,1252.474467,2.0,0.163153,no
55998,Apcnt_999988,3280.0,0.05235,2.0916,2.2212,0.0,NaN,3458599.0,NaN,115533.0,...,0.942854,0.00,0.705048,1.0,0.0,charge,NaN,0.0,0.002997,no
55999,Apcnt_999996,3522.0,0.46930,0.0000,0.0000,0.0,98806.0,2053920.0,523983.0,14903368.0,...,0.000000,13.13,0.292424,NaN,NaN,charge,4986.188578,3.0,0.678245,no

In [316]:
train.describe()

,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,form_field10,...,form_field40,form_field41,form_field42,form_field43,form_field44,form_field45,form_field46,form_field48,form_field49,form_field50
count,53471.000000,52156.000000,55645.000000,55645.000000,55645.000000,4.264000e+04,5.083700e+04,4.264000e+04,4.799200e+04,5.564500e+04,...,12271.000000,17771.000000,54677.000000,55432.000000,50617.000000,24683.000000,40096.000000,3.511100e+04,55645.000000,4.494400e+04
mean,3491.795665,0.550737,1.052225,0.851979,1.956317,6.244479e+05,6.865210e+06,2.626690e+06,1.316002e+07,1.185585e+07,...,147.797977,108.117363,0.368215,6.634511,0.563377,0.072520,0.095371,3.052449e+05,1.049061,6.005862e+05
std,188.462426,0.820979,2.147768,3.157692,10.512396,1.433422e+06,1.912729e+07,3.927355e+06,1.977963e+07,2.669459e+07,...,45.085889,36.765769,0.412858,6.378946,0.196973,0.291146,0.335210,1.647757e+06,1.806160,5.842405e+06
min,2990.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.021000,0.000000,0.000000,0.000000,0.048528,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00
25%,3358.000000,0.070788,0.000000,0.000000,0.000000,1.400400e+04,6.869740e+05,1.929440e+05,1.368502e+06,4.500730e+05,...,136.191750,87.055500,0.000000,2.020000,0.411672,0.000000,0.000000,7.710079e+01,0.000000,4.560141e-02
50%,3484.000000,0.267575,0.062000,0.000000,0.000000,1.155330e+05,2.704328e+06,9.639420e+05,5.506295e+06,3.707559e+06,...,150.000000,118.441500,0.220000,5.050000,0.588648,0.000000,0.000000,3.181243e+02,0.000000,1.703996e-01
75%,3620.000000,0.719512,1.282000,0.000000,0.000000,5.259280e+05,6.993831e+06,3.751516e+06,1.694552e+07,1.326101e+07,...,167.754000,137.496750,0.628573,10.100000,0.753840,0.000000,0.000000,1.153022e+03,1.181754,4.993370e-01
max,3900.000000,18.015050,57.371600,91.672200,407.748600,5.313546e+07,2.158794e+09,1.037397e+08,3.200533e+08,2.191361e+09,...,645.450000,255.000000,2.200000,91.910000,0.800000,5.000000,5.000000,5.321014e+07,28.000000,2.307571e+08

In [317]:
#to show the columns in the data file
test.isnull().sum()

Applicant_ID        0
form_field1      1110
form_field2      1709
form_field3       146
form_field4       146
form_field5       146
form_field6      5604
form_field7      2231
form_field8      5604
form_field9      3400
form_field10      147
form_field11    13398
form_field12     4183
form_field13     2463
form_field14        0
form_field15     9592
form_field16     5474
form_field17     4695
form_field18     4369
form_field19        0
form_field20      147
form_field21     6707
form_field22     8724
form_field23    12125
form_field24     5605
form_field25     2256
form_field26     3172
form_field27     3910
form_field28      147
form_field29      147
form_field30    10908
form_field31    16810
form_field32     2256
form_field33      495
form_field34      147
form_field35     9866
form_field36      903
form_field37     2256
form_field38      147
form_field39     1829
form_field40    18828
form_field41    16349
form_field42      578
form_field43      250
form_field44     2362
form_field45    13538
form_field46     6885
form_field47        0
form_field48     8922
form_field49      146
form_field50     4797
dtype: int64

In [318]:
train.isnull().sum()

Applicant_ID          0
form_field1        2529
form_field2        3844
form_field3         355
form_field4         355
form_field5         355
form_field6       13360
form_field7        5163
form_field8       13360
form_field9        8008
form_field10        355
form_field11      31421
form_field12       9895
form_field13       5889
form_field14          0
form_field15      22475
form_field16      13036
form_field17      11151
form_field18      10402
form_field19          4
form_field20        355
form_field21      15854
form_field22      20400
form_field23      28123
form_field24      13297
form_field25       5450
form_field26       7438
form_field27       9299
form_field28        355
form_field29        355
form_field30      25509
form_field31      39408
form_field32       5450
form_field33       1256
form_field34        355
form_field35      23148
form_field36       1995
form_field37       5450
form_field38        355
form_field39       4211
form_field40      43729
form_field41      38229
form_field42       1323
form_field43        568
form_field44       5383
form_field45      31317
form_field46      15904
form_field47          0
form_field48      20889
form_field49        355
form_field50      11056
default_status        0
dtype: int64

In [319]:
#test['default_status'] = 1

In [320]:
#to extract the features and target
X_train = train.drop('default_status', axis=1)
y_train = train['default_status']

In [321]:
#X_test = test.drop('default_status', axis=1)
#y_test = test['default_status']

# Scaling

In [322]:
from sklearn.preprocessing import StandardScaler

In [323]:
#I replaced the strings with an integer
X_train['form_field47'] = train['form_field47'].replace({'charge': 1, 'lending': 0})
test['form_field47'] = test['form_field47'].replace({'charge': 1, 'lending': 0})
#['default_status'] = train['default_status'].replace({'yes': 1, 'no': 0})

In [324]:
test.fillna(0, inplace = True)
X_train.fillna(0, inplace = True)

In [325]:
#train.drop(columns = ['Applicant_ID', ], axis=1)
#test.drop(columns = ['Applicant_ID'], axis=1)

In [326]:
X_train.head()

,Applicant_ID,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,...,form_field41,form_field42,form_field43,form_field44,form_field45,form_field46,form_field47,form_field48,form_field49,form_field50
0,Apcnt_1000000,3436.0,0.28505,1.6560,0.0,0.000,0.0,10689720.0,252072.0,4272776.0,...,0.0,0.392854,2.02,0.711632,0.0,0.0,1,0.000000,1.129518,0.044335
1,Apcnt_1000004,3456.0,0.67400,0.2342,0.0,0.000,0.0,898979.0,497531.0,9073814.0,...,0.0,0.314281,8.08,0.183584,0.0,0.0,1,349.805730,1.620483,0.322436
2,Apcnt_1000008,3276.0,0.53845,3.1510,0.0,6.282,0.0,956940.0,0.0,192944.0,...,0.0,0.162965,18.18,0.791136,0.0,0.0,1,0.000000,1.513370,0.011640
3,Apcnt_1000012,3372.0,0.17005,0.5050,0.0,0.000,192166.0,3044703.0,385499.0,3986472.0,...,0.0,0.488884,2.02,0.685168,0.0,0.0,1,89.940100,0.664452,0.082729
4,Apcnt_1000016,3370.0,0.77270,1.1010,0.0,0.000,1556.0,214728.0,214728.0,1284089.0,...,0.0,0.275000,12.12,0.438168,0.0,0.0,1,97.887502,1.427891,0.045630

In [327]:
numerical_columns = X_train.select_dtypes(include=[np.number]).columns
numerical_columns2 = test.select_dtypes(include=[np.number]).columns

In [328]:
scaler = StandardScaler()
#scaler.fit(train)
train_data_scaled = scaler.fit_transform(X_train[numerical_columns])
test_data_scaled = scaler.transform(test[numerical_columns2])

In [329]:
col = X_train.columns
col2 = test.columns

In [330]:
#Creating a dataframe
train = pd.DataFrame(columns = col)
test = pd.DataFrame(columns = col2)

# Using regression to predict

In [331]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [332]:
y_train = y_train.replace({'yes': 1, 'no': 0})

In [333]:
model = LogisticRegression()
model.fit(train_data_scaled, y_train)

LogisticRegression()

In [334]:
rfc = RandomForestClassifier(n_estimators=100, random_state=42)
rfc.fit(train_data_scaled, y_train)

RandomForestClassifier(random_state=42)

In [335]:
y_pred = rfc.predict(test_data_scaled)

In [336]:
y_pred = model.predict(test_data_scaled)

In [337]:
applicant = X_test["Applicant_ID"]

In [338]:
result = pd.DataFrame({'Applicant_IDs':applicant, 'defaults':y_pred})
# Show first 20 rows
result.head(20).round(2)

    Applicant_IDs  defaults
0   Apcnt_1000032         0
1   Apcnt_1000048         0
2   Apcnt_1000052         0
3   Apcnt_1000076         1
4   Apcnt_1000080         0
5   Apcnt_1000084         0
6   Apcnt_1000104         0
7   Apcnt_1000116         1
8   Apcnt_1000128         0
9   Apcnt_1000156         0
10  Apcnt_1000192         0
11  Apcnt_1000208         0
12  Apcnt_1000264         1
13  Apcnt_1000288         0
14  Apcnt_1000292         0
15  Apcnt_1000328         1
16  Apcnt_1000336         0
17  Apcnt_1000356         0
18  Apcnt_1000368         0
19  Apcnt_1000372         1

In [339]:
result.to_csv("TrailProject.csv", index=False)

# Evaluating model performance on test data

In [340]:
#predict probabilities of default
y_pred_probability = model.predict_proba(test_data_scaled)[:,1]
#identify likely defaulters
likely_defaulters = test_data_scaled[y_pred_probability > 0.5]

In [341]:
#Analyzing the results
print("Likely Defaulters:\n", likely_defaulters)

print("Defaulters' average credit score:\n", likely_defaulters.mean())

Likely Defaulters:
 [[-1.36481406e-01 -2.83281971e-01  8.20348863e-01 ... -1.45687467e-01
  -1.40706976e-01 -9.19978567e-02]
 [-5.09329704e-02 -1.18694957e-01 -3.07831455e-02 ... -1.45756135e-01
  -5.78366821e-01 -9.19978765e-02]
 [-3.48926386e-02  2.06811915e-01 -3.76631368e-01 ... -1.45550524e-01
   1.21344966e+00 -9.19978646e-02]
 ...
 [-1.63215293e-01  1.13696474e+00  1.45193026e+00 ... -1.45756135e-01
   1.46711470e+00 -9.19978765e-02]
 [-1.01727354e-01 -1.66181542e-01 -2.22049814e-01 ... -1.45756135e-01
  -5.78366821e-01 -9.19978765e-02]
 [-1.38586557e-04  3.03028191e-01  1.85406998e-01 ... -1.45735325e-01
  -1.24104520e-01 -9.19978720e-02]]
Defaulters' average credit score:
 0.07835265238166188

In [342]:
#Validating the model
actual_defaulters = test_data_scaled[test_data_scaled == 1]
print("Actual Defaulters:\n", actual_defaulters)

Actual Defaulters:
 []